
<footer class="footer">
        <div class="container container_large">
            <div class="row">
                <div class="col-xl-7">
                    <div class="footer_left pt_100 pb_80">
                        <div class="row justify-content-between">
                            <div class="col-xl-5 col-sm-10 col-md-4 wow fadeInLeft" data-wow-duration="2s">
                                <div class="footer_description">
                                    <a class="footer_logo" href="index.html">
                                        <img src="/static/images/PgConnect2.png" alt="logo" class="img-fluid w-100">
                                    </a>
                                    <p>Find and book your ideal PG accommodation with ease. No brokers, no hassle—just comfortable living at your fingertips.</p>
                                    <ul class="d-flex flex-wrap">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-md-4 wow fadeInLeft" data-wow-duration="1.5s">
                                <div class="footer_link">
                                    <h4>Navigation</h4>
                                    <ul>
                                        <li><a href=" ">Home One</a></li>
                                        <li><a href="/properties">Properties Right</a></li>
                                        <li><a href="/properties">Properties List</a></li>
                                        <li><a href="/properties">Property Details</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-md-4 wow fadeInLeft" data-wow-duration="1s">
                                <div class="footer_link">
                                    <h4>Important Link</h4>
                                    <ul>
                                        <li><a href="/profile">Change Password</a></li>
                                        <li><a href="/about_us">About Us</a></li>
                                        <li><a href="/contactus">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy_right wow fadeInUp" data-wow-duration="1.5s">
            <div class="container container_large">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="copyright_area d-flex flex-wrap justify-content-between">
                            <p>www.pgconnect.com</p>
                            <ul class="d-flex flex-wrap">
                                <li><a href="#">Privacy Policy </a></li>
                                <li><a href="#">Term of Service</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
